
html{
	background-image: radial-gradient(circle, white, #84CEEB, #c1c8e4, #8860D0);
	/*background:#c1c8e4;*/
	font-family: 'Mali', cursive;
}
input{
	padding: 1em;
	margin: 0 0.5em;
	border:0.12em #8860D0 solid;
	border-radius: 0.15em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Logo Styling */
.logo{
  width: 100%;
}

.logo img {
  display: block;
  margin: 0 auto;
}

h1{
	 text-align: center;
}
.result{
	margin:2em;
	padding:0.7em;
	font-size: 2em;
	color:white;
	background: #c1c8e4;
	font-family: 'Mali', cursive;
	cursor: pointer; 
}
.result:hover{
	 background-image: linear-gradient(to right, #5AB9EA , #84CEEB);
}
#result {
	text-align: center;
}
.bucket{
	text-align: center;
}
.description{
	text-align: center;
}
.hide{
	text-align: center;
}
p{
	font-size: 2em;
}
h4{
	font-size: 1.2em;
}
.hide{
	color: white;
}